@import "mixins";

.section__wrapper {
    background: var(--color-white-bg);
    padding: 100px 0;

    @include tablets {
        padding: 60px 0;
    }

    .courses__wrapper {
        @include flex-column;

        gap: 46px;
        padding: 0 0 40px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 400px;
            height: 400px;
            background: #ebddf4;
            opacity: 0.8;
            border-radius: 50px;
            transform: rotate(24.48deg);
            left: 35%;

            @include laptop {
                top: 230px;
                left: 37%;
                width: 280px;
                height: 280px;
            }

            @include tablets {
                display: none;
            }
        }

        &::before {
            position: absolute;
            content: "";
            width: 450px;
            height: 450px;
            opacity: 0.8;
            border: 2px solid #e8ddff;
            border-radius: 50px;
            transform: rotate(24.48deg);
            left: 33%;
            bottom: 32px;

            @include laptop {
                width: 320px;
                height: 320px;
                bottom: 100px;
            }

            @include tablets {
                display: none;
            }
        }
    }
}
