@import "normalize";
@import "./fonts/fonts";
@import "globals";
@import "./variables/global";
@import "./variables/mockups";
@import "mixins";

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  color: var(--color-white-bg);
  background: var(--color-black-dark);
}