:root {
  --font-primary: "Montserrat";
  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 16px;
  --font-size-h5: 14px;
  --font-size-h6: 14px;
  --font-size-subtitle: 16px;
  --font-size-body: 14px;
  --font-size-xs: 12px;
  --font-size-h1-min: 40px;
  --font-size-h2-min: 32px;
  --font-size-h3-min: 24px;
  --font-size-h4-min: 16px;
  --font-size-h5-min: 14px;
  --font-size-h6-min: 14px;
  --font-size-subtitle-min: 16px;
  --font-size-body-min: 14px;
  --font-size-xs-min: 12px;
  --border-radius-xs: 1px;
  --border-radius-sm: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
  --border-radius-xl: 15px;
  --border-radius-xxl: 20px;

  /* COLORS */
  --color-gray-primary: #555555;
  --color-gray-secondary: #C4C4C4;
  --color-black-light: #494947;
  --color-black-dark: #171716;
  --color-violet-primary: #9B53C8;
  --color-violet-secondary: #7A29AC66;
  --color-white-bg: #FFFFFF;
  --color-black-bg: #17181E;

  /* OTHER */
  --hover-effect: brightness(1.15);

  /* DURATION */
  --duration-very-slow: 2500ms;
  --duration-slow: 2000ms;
  --duration-semi-slow: 1500ms;
  --duration-semi-fast: 400ms;
  --duration-fast: 300ms;
  --duration-very-fast: 150ms;
}

