@import "mixins";

.button {
    @include flex-space;

    gap: 5px;
    border-radius: var(--border-radius-over);
    cursor: pointer;
    position: relative;
    z-index: 999999;
    width: max-content;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 20px 30px rgb(66 44 34 / 33%);
    }

    &.border {
        background: transparent !important;
        border: 1px solid var(--color-violet-primary);
        transition: all 0.5s;
        color: var(--color-violet-primary);

        &:hover {
            background: var(--color-violet-primary) !important;
            color: var(--color-white-bg) !important;

            svg {
                stroke: var(--color-white-bg) !important;
                fill: var(--color-white-bg) !important;
            }
        }
    }

    &.full {
        width: 100%;
        text-align: center;
        display: block;
    }

    @import "./styles/size.module";
    @import "./styles/colors.module";
}
