.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-over);
  //font-weight: 600;
  color: var(--color-white-bg);
  background-color: var(--color-violet-primary);

  &.border {
    background: transparent;
    border: 1px solid var(--color-violet-primary);
  }
  &.full {
    width: 100%;
  }

  &.variant {
    &--xs {
      padding: 4px 7px;
    }

    &--l {
      padding: 20px 50px;
    }

    &--m {
      padding: 25px 123px;
    }

    &--xl {
      padding: 30px 73px;
    }
  }

  &.color {
    &--primary {

    }
  }
}
