.avatar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    grid-gap: 5px;
    position: relative;
    background: var(--color-white-bg);
    border-radius: var(--border-radius-md);
    z-index: 999;

    &.rounded {
        border-radius: 50px;
    }

    .avatarImage {
        aspect-ratio: 1;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: inherit;
    }

    .status {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    @import "./styles/size.module";
}
