.drop__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline: 10px;

    label {
        color: var(--color-violet-primary);
    }

    .drop__area {
        cursor: pointer;
        border-radius: 20px;
        padding-inline: 10px;
        height: 150px;
        border: 2px dashed var(--color-violet-primary);
        background: var(--color-violet-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.form__container {
	width: 100vw;
	height: 100vh;
	background-color: #7b2cbf;
	display: flex;
   	justify-content: center;
	align-items: center;
}
.upload_files__container {
	background-color: #f7fff7;
	width: 420px;
	padding: 30px 60px;
	border-radius: 40px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag_file__area {
	border: 2px dashed #7b2cbf;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 350px;
	text-align: center;

    &.upload_icon {
        font-size: 50px;
    }

    h3 {
        font-size: 26px;
        margin: 15px 0;
    }

    label {
        font-size: 19px;
    }

    label .browse_files__text {
        color: #7b2cbf;
        font-weight: bolder;
        cursor: pointer;
    }
}

.browse_files span {
	position: relative;
	top: -25px;
}
.default_file__input {
	opacity: 0;
}
.cannot_upload__message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot_upload__message span, .upload__button__icon {
	padding-right: 10px;
}
.cannot_upload__message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file_block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file__info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file__icon {
	margin-right: 10px;
}
.file_name, .file_size {
	padding: 0 3px;
}
.remove_file__icon {
	cursor: pointer;
}
.progress__bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload__button {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}