@import "mixins";

.section__wrapper {
    padding: 0 0 82px;

    .footer__inner {
        @include flex-column;
        gap: 100px;

        .footer__content {
            @include flex-space;

            @include phones {
                @include flex-column;
                align-items: flex-start;
                gap: 20px;
            }
        }

        .part__content {
            @include flex-column;
            gap: 20px;
        }

        .social__wrapper {
            max-width: 225px;
            margin: 0 auto;
        }
    }
}
