@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat Thin"),
        local("Montserrat-Thin"),
        url("/public/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat ExtraLight"),
        local("Montserrat-ExtraLight"),
        url("/public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat"),
        local("Montserrat-Regular"),
        url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat Medium"),
        local("Montserrat-Medium"),
        url("/public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat SemiBold"),
        local("Montserrat-SemiBold"),
        url("/public/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url("/public/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat ExtraBold"),
        local("Montserrat-ExtraBold"),
        url("/public/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:
        local("Montserrat Black"),
        local("Montserrat-Black"),
        url("/public/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
