@import "mixins";

.text {
    position: relative;
    z-index: 9999;
    color: inherit;

    &.inline {
        display: inline-block;
    }

    &.noWrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.variant {
        &--h1 {
            font-weight: 700;

            @include adaptive("font-size", 40, 24);
            @include adaptive("line-height", 48, 32);
        }

        &--h2 {
            font-weight: 700;

            @include adaptive("font-size", 32, 18);
            @include adaptive("line-height", 42, 24);
        }

        &--h3 {
            font-weight: 500;

            @include adaptive("font-size", 24, 16);
            @include adaptive("line-height", 32, 22);
        }

        &--body {
            font-weight: 400;

            @include adaptive("font-size", 18, 13);
            @include adaptive("line-height", 24, 18);
        }

        &--small {
            font-weight: 300;

            @include adaptive("font-size", 14, 7);
            @include adaptive("line-height", 16, 10);
        }
    }

    &.color {
        &--inherit {
            color: inherit;
        }

        @include color;
    }

    &.tag {
        &--b {
            font-weight: 900;
        }

        &--strong {
            font-weight: 800;
        }

        &--span {
            font-weight: 500;
        }
    }
}
