@import "mixins";

.header {
    padding: 36px 0;

    .header__inner {
        @include flex-space;

        .buttons__group {
            @include flex-space;
            gap: 21px;
        }
    }

    .header_user__settings {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
