.lesson {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 30px;

    .video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 112px;
        background: var(--color-gray-secondary);
        box-shadow: 0 30px 30px rgb(109 94 88 / 25%);
        border-radius: 21.4724px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background: var(--color-gray-primary);
        }

        .play__icon {
            position: absolute;
            left: 52px;
        }

        .duration {
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 68px;
            height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            background: var(--color-black-bg);
            color: var(--color-white-bg);
            backdrop-filter: blur(1px);
            border-radius: 20px 0;
        }
    }
}
